In [1]:
import numpy as np
import pandas as pd

gold = pd.read_csv("LBMA-GOLD.csv")
gold

         Date  USD (PM)
0     9/12/16   1324.60
1     9/13/16   1323.65
2     9/14/16   1321.75
3     9/15/16   1310.80
4     9/16/16   1308.35
...       ...       ...
1260   9/6/21   1821.60
1261   9/7/21   1802.15
1262   9/8/21   1786.00
1263   9/9/21   1788.25
1264  9/10/21   1794.60

[1265 rows x 2 columns]